/* 
 * 6.11 Section: Blog 
 */
 #blog {
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: $primary-color;

    hr{
        color: $primary-color-light !important;
        border-color: $primary-color-light !important;
        background-color: $primary-color-light !important;

    }

    .section-subtitle {
        color: $primary-color-light  !important;
    }

    h5{
        margin-top: 6%;
        margin-bottom: 3%;
        font-size: 1.2em;
        font-weight: 500;
        text-align: left; 
        line-height: 1.2em;
        color:  $secondary-color-light; 
    }

    .blog-post {
        border-style: solid;
        padding:10px;
        border-width: 1px;  
        border-color:  $primary-color-light;

        p {
            color: $color-white;
            font-size: 1em;
            font-weight: 100;
            text-align: left;
            line-height: 1em;
        }
    }
}